<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705111743222-jh503ucpmbv0qf9v43sgmlkvcu8ik7sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705111743222-jh503ucpmbv0qf9v43sgmlkvcu8ik7sn</string>
	<key>API_KEY</key>
	<string>AIzaSyBiLxnxjFxLkf0_neMCAioIpUv3eTPhDYI</string>
	<key>GCM_SENDER_ID</key>
	<string>705111743222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.Relocate-Roadmap</string>
	<key>PROJECT_ID</key>
	<string>roadmap-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>roadmap-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705111743222:ios:e84ebd522801841f206ad7</string>
</dict>
</plist>